---
import Header from "@/components/Header.jsx";
import Layout from "@l/Layout.astro";
import WardrobeComp from "@c/Wardrobe.jsx";
import Assistant from "@/components/Assistant.jsx";
import { db, User, Wardrobe, eq } from "astro:db";
import { getCategoriesByWardrobe } from "./api/getCategoriesByWardrobe";
import { getClothesByWardrobe } from "./api/getClothesByWardrobe";

const headerLinks = [
  { href: "/pamShare", content: "Pam Share" },
  { href: "/profile", content: "My Profile" },
  { href: "/#about", content: "About Us" },
];

const sessionUser = Astro.locals.user;

let dbUser = null;
let dbWardrobe = null;
let categoriesByWardrobe = null;
let clothesByWardrobe = null;

if (sessionUser) {
  dbUser = (await db.select().from(User).where(eq(User.id, sessionUser.id))).at(
    0
  );
  if (dbUser)
    dbWardrobe = (
      await db.select().from(Wardrobe).where(eq(Wardrobe.id, dbUser.wardrobeId))
    ).at(0);
  if (dbWardrobe) {
    categoriesByWardrobe = await getCategoriesByWardrobe(dbWardrobe.id);
    clothesByWardrobe = await getClothesByWardrobe(dbWardrobe.id);
  }
} else {
  return Astro.redirect("/logIn");
}
---

<Layout
  title="PAME - My Wardrobe"
  desc="Let's make outfits!! PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
>
  <Header
    client:load
    headerLinks={headerLinks}
    user={sessionUser}
    show={false}
  />
  {
    dbUser && dbWardrobe && (
      <main class="py-1 px-4">
        <header class="w-full flex items-center">
          <h1 transition:name="pageTitle" class="text-2xl">
            M Y * W A R D R O B E
          </h1>
        </header>
        <WardrobeComp
          client:load
          wardrobeId={dbWardrobe.id}
          categories={categoriesByWardrobe}
          clothes={clothesByWardrobe}
        />
        <Assistant client:visible />
      </main>
    )
  }
</Layout>
