---
import Header from "@/components/Header.jsx";
import Layout from "@l/Layout.astro";
import ProfileSearcher from "@c/ProfileSearcher.jsx";
import LastClothes from "@c/LastClothes.jsx";
import TopClothes from "@c/TopClothes.jsx";
import { User, db, eq } from "astro:db";
import { getTopClothes } from "./api/getTopClothes";
import { getLastClothes } from "./api/getLastClothes";

const headerLinks = [
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/profile", content: "My Profile" },
  { href: "/#about", content: "About Us" },
];

const sessionUser = Astro.locals.user;
let dbUser = null;
let profiles = null;
if (sessionUser) {
  dbUser = (await db.select().from(User).where(eq(User.id, sessionUser.id))).at(
    0
  );
  profiles = await db.select().from(User);
} else {
  return Astro.redirect("/logIn");
}

const topClothes = await getTopClothes();
const lastClothes = await getLastClothes()
---

<Layout
  title="PAME - Pam Share"
  desc="Let's share your clothes in PAME!! PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
>
  <Header
    client:load
    headerLinks={headerLinks}
    user={sessionUser}
    show={false}
  />
  {
    dbUser && (
      <>
        <header class="py-1 px-4 w-full flex items-center">
          <h1 class="text-2xl" transition:name="pageTitle">
            P A M * S H A R E
          </h1>
        </header>
        <main class="flex flex-col gap-4 py-1 px-4">
          <nav class="w-full px-4 py-2">
            <ProfileSearcher client:visible profiles={profiles} />
          </nav>
          <aside class="w-full px-4 py-8">
            <TopClothes client:visible topClothes={topClothes} />
          </aside>
          <main class="w-full px-4 py-8">
            <LastClothes client:visible lastClothes={lastClothes}/>
          </main>
        </main>
      </>
    )
  }
</Layout>
