---
import Header from "@/components/Header.jsx";
import Layout from "@l/Layout.astro";
import { User, db, eq } from "astro:db";
import noUserImage from "../../public/img/noUserImage.png";
import UserInfo from "@c/UserInfo.jsx"

const headerLinks = [
  { href: "/pamShare", content: "Pam Share" },
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/#about", content: "About Us" },
];

const user = Astro.locals.user;
let dbUser = null;
if (user) {
  dbUser = (await db.select().from(User).where(eq(User.id, user.id))).at(0);
} else {
  return Astro.redirect("/logIn");
}
---

<Layout
  title="PAME - My Profile"
  desc="Design you PAME profile and Share it with yoour Friends!!"
>
  <Header client:load headerLinks={headerLinks} user={user} show={true} />
  <main class="max-w-[900px] mx-auto py-5 px-10">
    <div class="flex flex-col md:grid md:grid-cols-6 gap-4">
      <aside class="col-span-2 flex flex-col items-center justify-center gap-2">
        {
          dbUser && dbUser.imageUrl ? (
            <>
              <img
                class="w-44 mx-auto bg-slate-100/50 aspect-square rounded-full m-5"
                src={dbUser.imageUrl}
              />
              <button class="flex items-center gap-2">
                <i class="text-2xl ri-pencil-line" />
              </button>
            </>
          ) : (
            <>
              <img
                class="w-44 mx-auto bg-slate-100/50 aspect-square rounded-full m-5"
                src={noUserImage.src}
              />
              <button class="flex items-center gap-2">
                <i class="text-2xl ri-add-line" />
              </button>
            </>
          )
        }
      </aside>
      <section
        class="col-span-4 flex flex-col gap-4 items-center md:items-end py-4"
      >
        <UserInfo client:visible dbUser={dbUser}/>
      </section>
    </div>
  </main>
</Layout>
