---
import Header from "@/components/Header.jsx";
import Layout from "@l/Layout.astro";
import { User, db, eq } from "astro:db";
import noUserImage from "../../public/img/noUserImage.png";

const headerLinks = [
  { href: "/pamShare", content: "Pam Share" },
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/#about", content: "About Us" },
];

const user = Astro.locals.user;
let dbUser = null;
if (user) {
  dbUser = (await db.select().from(User).where(eq(User.id, user.id))).at(0);
} else {
  return Astro.redirect("/logIn");
}
---

<Layout
  title="PAME - My Profile"
  desc="Design you PAME profile and Share it with yoour Friends!!"
>
  <Header client:load headerLinks={headerLinks} user={user} show={true} />
  <main class="max-w-[900px] mx-auto py-5 px-10">
    <header class="flex flex-col md:grid md:grid-cols-6 gap-4">
      <aside class="col-span-2 flex flex-col items-center justify-center gap-2">
        {
          dbUser && dbUser.imageUrl ? (
            <>
              <img
                class="w-44 mx-auto bg-slate-100/50 aspect-square rounded-full m-5"
                src={dbUser.imageUrl}
              />
              <button class="flex items-center gap-2">
                Edit image <i class="text-2xl ri-pencil-line" />
              </button>
            </>
          ) : (
            <>
              <img
                class="w-44 mx-auto bg-slate-100/50 aspect-square rounded-full m-5"
                src={noUserImage.src}
              />
              <button class="flex items-center gap-2">
                Add image <i class="text-2xl ri-add-line" />
              </button>
            </>
          )
        }
      </aside>
      <section
        class="col-span-4 flex flex-col gap-4 items-center md:items-end py-4"
      >
        <article class="w-full py-2 border-b-2">
          <h1
            class="text-5xl text-transparent mx-auto font-semibold bg-gradient-to-r from-indigo-300 via-green-300 to-slate-300 w-fit bg-clip-text"
          >
            {dbUser ? dbUser.username : "No User Found"}
          </h1>
        </article>
        <article class="w-full">
          <div class="w-full">
            {
              dbUser && dbUser.description ? (
                <div class="flex items-center justify-between gap-2">
                  <p>{dbUser.description}</p>
                  <button>
                    <i class="text-2xl ri-pencil-line" />
                  </button>
                </div>
              ) : (
                <form
                  action=""
                  method="post"
                  class="w-full flex items-center gap-2"
                >
                  <textarea
                    name="description"
                    class="px-2 py-1 w-full bg-transparent"
                    placeholder="Describe yourself and your style"
                  />
                  <button type="submit" class="w-16 text-center">
                    <i class="text-2xl ri-add-line" />
                  </button>
                </form>
              )
            }
          </div>
        </article>
        <article class="w-full">
          {
            dbUser && dbUser.link ? (
              <div class="flex items-center justify-between gap-2">
                <a
                  href={dbUser.link}
                  class="text-blue-300 hover:text-green-500"
                >
                  {dbUser.link}
                </a>
                <button>
                  <i class="text-2xl ri-pencil-line" />
                </button>
              </div>
            ) : (
              <form
                action=""
                method="post"
                class="w-full flex items-center gap-2"
              >
                <input
                  name="link"
                  class="px-2 py-1 w-full bg-transparent"
                  placeholder="Add the link of your site"
                />
                <button type="submit" class="w-16 text-center">
                  <i class="text-2xl ri-add-line" />
                </button>
              </form>
            )
          }
        </article>
      </section>
    </header>
  </main>
</Layout>
