---
import Header from "@/components/Header.jsx";
import Layout from "@l/Layout.astro";
import { User, db, eq } from "astro:db";

const headerLinks = [
  { href: "/pamShare", content: "Pam Share" },
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/#about", content: "About Us" },
];

const user = Astro.locals.user;
let dbUser = null;
if (user) {
  dbUser = (await db.select().from(User).where(eq(User.id, user.id))).at(0);
} else {
  return Astro.redirect("/logIn");
}
---

<Layout
  title="PAME - My Profile"
  desc="Design you PAME profile and Share it with yoour Friends!!"
>
  <Header client:load headerLinks={headerLinks} user={user} show={true} />
  {
    dbUser ? (
      <h1 class="text-center text-2xl mt-10">{dbUser.username}</h1>
      <img src={dbUser.imageUrl} width="80" class="bg-slate-50/50 aspect-square rounded-full mx-auto m-5"/>
      <p>{dbUser.description}</p>
      <a class="text-blue-300 hover:text-green-500" href={dbUser.link}>{dbUser.link}</a>
    ) : (
      <h1 class="text-center text-2xl mt-10">No User Found</h1>
    )
  }
</Layout>
